<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Submenu" alt=""></td>
        <td><a href="https://azeem-khan1.github.io/fastpages-project/hacks/anatomyofpython">Python Kernel</a></td>
        <td><a href="https://azeem-khan1.github.io/fastpages-project/hacks/bashhacks">Bash Kernel</a></td>
        <td><a href="https://azeem-khan1.github.io/fastpages-project/hacks/jstutorial"><strong><em>Javascript Kernel</em></strong></a></td>
        <td><a href="https://azeem-khan1.github.io/fastpages-project/javascripttable"><strong><em>Javascript Table</em></strong></a></td>
        <td><a href="{{site.baseurl}}/about">About Me</a></td>
        <td><a href="{{site.baseurl}}/contributions">Contributions</a></td>
        <td><a href="{{site.baseurl}}/notes">Notes</a></td>
        <td><a href="{{site.baseurl}}/categories">Tags (Look for hacks)</a></td>
        <td><a href="http://localhost:4000/fastpages-project/hacks/rapidapi#Personal-API-Example">Personal API Hacks</a></td>
    </tr>
</table>